body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    color: #333;
}
.img_estacion {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
    opacity: 0.4;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.boton {
    display: inline-block;
    margin: 10px;
    flex-basis: 80%;
    padding: 12px 25px;
    background-color: #2196F3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.boton:hover {
    background-color: #1976D2;
}
